.list-container {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
  text-align: left;
  line-height: 24px;
  height: 100%;
  overflow-y: auto;
  height: calc(100vh - 150px);
}

.list-container::-webkit-scrollbar {
  width: 10px;
}

.list-container::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 5px;
}

.list-container::-webkit-scrollbar-thumb:hover {
  background-color: #DDD;
}

.list-container::-webkit-scrollbar-track {
  background-color: #181B23;
  border-radius: 5px;
}

.list-header {
  color: #DDD;
  font-weight: 700;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
}

.list-icon {
  width: 36px;
  padding-right: 30px;
}

.list-name {
  flex: 3 0;
  padding-right: 30px;
}

.list-rg {
  flex: 1 1 100px;
  padding-right: 30px;
}

.list-date {
  flex: 1 1 150px;
}

.list-body {
  margin-top: 20px;
  color: #FFF;
  font-weight: 400;
}

.list-visitor-row {
  padding: 15px 30px;
  background-color: #1F2029;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
