.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2029;
  padding: 10px 20px;
  height: 30px;
  max-width: 400px;
  min-width: 100px;
  width: -webkit-fill-available;
  border-radius: 35px;
}

.search-input {
  background-color: #1F2029;
  border: none;
  color: #FFF;
  padding: 10px;
  flex: 1;
  margin-right: 20px;
  font-size: 16px;
}

.search-input::placeholder {
  font-size: 16px;
  color: #FFF;
  font-weight: 400;
}

.search-input:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.icon-pointer {
  cursor: pointer;
}

.icon-spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}