.header-container {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  gap: 10px;
}

.header-container > img {
  width: 170px;
  height: 50px;
}

.header-search {
  flex: 1;
  display: flex;
  justify-content: center;
}
